.example {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    color: black;
    padding: 0.5rem;
    margin-top: 1rem;
}

.inputBox {
    width: 100%;
}

.textBox {
    margin-top: 1rem;
}

@media screen and (min-width: 720px) {
    .inputBox {
        width: 25%;
    }
}